# PHP calistirmayi engelle - guvenlik
<IfModule mod_php.c>
    php_flag engine off
</IfModule>

# Script dosyalarini engelle
<FilesMatch "\.(php|phtml|php3|php4|php5|php7|phps|cgi|pl|asp|aspx|shtml|shtm|htaccess|htpasswd|ini|log|sh|bak|config|sql)$">
    Order allow,deny
    Deny from all
</FilesMatch>
